<a href="https://colab.research.google.com/github/minwlhtoon/colab/blob/main/Exercise_3_CloudTech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pymongo #install python programe MongoDB

Collecting pymongo
  Downloading pymongo-4.16.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (10.0 kB)
Collecting dnspython<3.0.0,>=2.6.1 (from pymongo)
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading pymongo-4.16.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 28.2 MB/s eta 0:00:00
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 331.1/331.1 kB 26.7 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.8.0 pymongo-4.16.0

In [8]:
import pymongo
import pandas as pd
from pandas import DataFrame
import numpy as np
import matplotlib.pyplot as plt

In [18]:
#Establish connection to MongoDB
#Copy your own URI String to the row below
URI="mongodb+srv://minhtoon:xxxxxxxx@cluster0.4xqo278.mongodb.net/"
client=pymongo.MongoClient(URI)

#Db and Collection
mydb = client["Finland_Spring2026"] # database
mycol = mydb["Jonit_Spring_2026"] # collection

#Get the data
dat = mycol.find()
df = DataFrame(list(dat))
df

                         _id  ... Study places
0   699fc7443403160d77c49d8a  ...           85
1   699fc7443403160d77c49d8b  ...          499
2   699fc7443403160d77c49d8c  ...         2338
3   699fc7443403160d77c49d8d  ...          175
4   699fc7443403160d77c49d8e  ...         1735
5   699fc7443403160d77c49d8f  ...         1134
6   699fc7443403160d77c49d90  ...          140
7   699fc7443403160d77c49d91  ...         2047
8   699fc7443403160d77c49d92  ...          382
9   699fc7443403160d77c49d93  ...          432
10  699fc7443403160d77c49d94  ...          212

[11 rows x 5 columns]